
/* Reset default styles */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Custom styles for SENELEC branding can be added here */
.senelec-text-gradient {
  background: linear-gradient(90deg, hsl(265, 70%, 60%), hsl(175, 70%, 34%), hsl(30, 95%, 60%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
